#project-box
{
  color: rgb(45, 48, 56);
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 14px;
  background-color: rgb(250, 247, 250);
  border: 1px solid rgb(232, 230, 232);
  border-radius: 4px; 
}

#project-box-large
{
  color: rgb(45, 48, 56);
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding:14px 14px 250px 14px;
  background-color: rgb(250, 247, 250);
  border: 1px solid rgb(232, 230, 232);
  border-radius: 4px;
  
}

#project-dropdown-box
{
  position:relative;
  color: rgb(45, 48, 56);
  height: 45px;
  width: 100%;
  margin-bottom: 15px; 
  box-sizing: border-box;
  padding: 12px 20px;
  background-color: rgb(250, 247, 250);
  border: 1px solid rgb(232, 230, 232);
  border-radius: 4px; 
}

#primary-btn {
  font-size:15px;
  background-color:white;
  opacity:50%;
}

#project-stuff {
  padding-bottom:20px;
}


#project-header {
  padding-bottom:20px;
}

#project-col {
  height:440px;

}

#project-name {
  padding-bottom:10px;
}

#project-description {
  height:100px;
  overflow:hidden;
  overflow-wrap: normal;
}

#project-col-footer {
  padding-top:55px;
}



#post-header {
  background-color:#008def;
  margin:50px auto -30px auto ;
  width:1140px;
  text-align:center;
  padding:50px;
}

#post-header h2 {
  color:white;
}

#post-header h4 {
  color:white;
}

#post-header p {
  color:white;
}

.arrow {
  float:right;
  margin-top:50px;
  padding:0;
  list-style:none;
}