*{
font-family: 'Lato', sans-serif, 'Slabo 27px', serif, 'Open Sans', sans-serif
  }

body {
  background-color:#f8f8f8;
}

nav  #center-icon{
  color:#680612;
  font-size:25px;
}

#login h1 {
  color:#2d2d2d;
  text-align:center;
}

#login button{
  background-color:#189ad3;
}

#login{
  background-color:#FCFCFC;
  margin: auto;
  width: 50%;
  box-shadow:5px 5px #d3d3d3;
  margin-top:150px;
  padding: 30px;
}